.node-details-container {
    small {
        color: #777;
        margin: 0 0 10px 0;
        margin-top: -2px;
        display: block;
    }

    .title {
        font-weight: bold;
    }

    table {
        .label {
            margin: 0 5px 0 0;
        }
    }
}
