# Include all the default settings.
from settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = os.environ.get('SCALE_SECRET_KEY', INSECURE_DEFAULT_KEY)

# Use the following lines to enable developer/debug mode.
DEBUG = {{ django_debug }}
TEMPLATE_DEBUG = DEBUG

# Set the external URL context here
FORCE_SCRIPT_NAME = '{{ scale_url_prefix }}/api'
USE_X_FORWARDED_HOST = True

ALLOWED_HOSTS = [{{ allowed_hosts }}]

STATIC_ROOT = os.environ.get('SCALE_STATIC_ROOT', 'static/')
STATIC_URL = '{{ scale_url_prefix }}/static/'

SECRET_KEY = "{{ inventory_hostname | password_hash('sha512') }}"

POSTGIS_TEMPLATE = 'template_postgis'
DATABASES = {
   'default': {
      'ENGINE': 'django.contrib.gis.db.backends.postgis',
      'NAME': '{{ db_name }}',
      'USER': '{{ db_username }}',
      'PASSWORD': '{{ db_password }}',
      'HOST': '{{ db_host }}',
      'PORT': '5432',
   },
}



# Mesos connection information. Default for -m
# This can be something like "127.0.0.1:5050"
# or a zookeeper url like 'zk://host1:port1,host2:port2,.../path`
MESOS_MASTER = '{{ mesos_zk }}'

# Zookeeper URL for scheduler leader election. If this is None, only a single scheduler is used.
SCHEDULER_ZK = '{{ scheduler_zk }}'

# The full name for the Scale Docker image (without version tag)
SCALE_DOCKER_IMAGE = "devdocker-reg.devnet.prv:5000/scale"
