(function () {
   'use struct';

   angular.module('scaleApp').constant('scaleConfigLocal', {
      urls: {
         prefixDev: '{{ scale_url_prefix}}/api/', //dev
         prefixV3: '{{ scale_url_prefix }}/api/', //scale3
         documentation: '{{ scale_url_prefix }}/docs/'
      }
   });
}) ();
