<div class="hs-btn btn pull-left {{ name }}" ng-class="getStatus(jobtype)" ng-click="showModal(jobtype, name)" tooltip="{{ jobtype.nice }}"> <!-- data-content="<div class='{{ jobtype.jobtypename }}-area'></div>" -->
    <div class="hs-executing text-center">
        <div class="active" ng-show="jobtype.active > 0"><i class="fa fa-spinner fa-pulse"></i></div>
        <div class="icon"><i class="fa fa-2x" ng-class="getIcon(name)"></i></div>
    </div>
    <!-- <div class="hs-jobtypename">{{ jobtype.jobtypename }}<div ng-repeat="job in jobtype.executing" class="hs-executing pull-right"><i class="{{job.class}}"></i> </div>&nbsp;</div>
    <div class="hs-metadata">
        {{ jobtype.etcheckin }}
        <br />
        {{ jobtype.error }} errors in {{ jobtype.total }} jobs.
    </div> -->
</div>

<script type="text/ng-template" id="modalContentJobs.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6"><h4 class="modal-title">Job Type: {{jobtype.nice}}</h4></div>
            <div class="col-xs-6"><h6 class="pull-right">Duration: {{jobtype.duration}}</h6></div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Hours</th>
                <th>6</th>
                <th>12</th>
                <th>24</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Success Rate</td>
                <td>{{100 - jobtype.percent}}%</td>
                <td>{{100 - jobtype.percent}}%</td>
                <td>{{100 - jobtype.percent}}%</td>
            </tr>
            <tr>
                <td>Errors</td>
                <td>{{jobtype.error}}</td>
                <td>{{jobtype.error}}</td>
                <td>{{jobtype.error}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{jobtype.total}}</td>
                <td>{{jobtype.total}}</td>
                <td>{{jobtype.total}}</td>
            </tr>
            </tbody>
        </table>
        <div id="{{ name }}-chart-health" class="line-chart"></div>
    </div>
</script>
