<div class="header">
    <h5 class="pull-right">{{ date | date: 'fullDate' }}</h5>
    <ul class="nav nav-pills" ng-show="showSubnav">
        <li ng-repeat="navLink in subnavLinks" ng-class="{ active: navLink.path === currentPath }"><a ng-href="#{{ navLink.path }}">{{ navLink.label }}</a></li>
    </ul>
    <h1 ng-show="!hideTitle">{{ name }}</h1>
    <hr />
    <ol class="breadcrumb" ng-show="showBreadcrumbs">
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
            <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
            <span ng-if="$last" ng-bind="breadcrumb.label"></span>
        </li>
    </ol>
</div>
<div ng-if="loading" class="loading-content">
    <h3>
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i><br />
        Loading
    </h3>
</div>
