<ais-header name="'File Trace'" loading="loading" show-subnav="true" subnav-links="subnavLinks"></ais-header>

<div class="form-inline">
    <div class="form-group">
        <label for="filename">Filename</label>
        <input id="filename" type="text" ng-model="filename" uib-typeahead="file for file in getSources($viewValue)" typeahead-loading="loadingSourceFiles" typeahead-no-results="noResults" class="form-control">
        <i ng-show="loadingSourceFiles" class="fa fa-refresh fa-spin"></i>
        <div ng-show="noResults">
            <i class="fa fa-remove"></i> No Results Found
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="search()">Search</button>
    </div>
    <div ng-if="sourceFile" class="margin-top-lg">
        <h2>{{ sourceFile.file_name }}</h2>
        {{ sourceFile.media_type }}
    </div>
</div>