<ais-header name="'Ingest Records (' + gridOptions.totalItems + ')'" loading="loading" show-subnav="true" subnav-links="subnavLinks" ></ais-header>
<div class="row">
    <div class="col-xs-6">
        <div class="form-inline margin-bottom-md">
            <div class="input-group margin-right-md">
        <span class="input-group-addon" id="from-input">
            From:
        </span>
                <input id="lastModifiedStart" type="text" class="form-control" aria-describedby="from-input" uib-datepicker-popup="yyyy-MM-dd" ng-model="lastModifiedStart" ng-model-options="dateModelOptions" is-open="lastModifiedStartPopup.opened" close-text="Close" datepicker-append-to-body="true" ng-click="openLastModifiedStartPopup($event)" />
            </div>
            <div class="input-group">
        <span class="input-group-addon" id="to-input">
            To:
        </span>
                <input id="lastModifiedStop" type="text" class="form-control" aria-describedby="to-input" uib-datepicker-popup="yyyy-MM-dd" ng-model="lastModifiedStop" ng-model-options="dateModelOptions" is-open="lastModifiedStopPopup.opened" close-text="Close" datepicker-append-to-body="true" ng-click="openLastModifiedStopPopup($event)" />
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <div class="pagination-controls" ng-show="gridOptions.totalItems > gridOptions.paginationPageSize">
            <uib-pagination class="pagination-sm" total-items="gridOptions.totalItems" items-per-page="gridOptions.paginationPageSize" boundary-links="true" max-size="5" force-ellipsis="true" ng-model="gridOptions.paginationCurrentPage"></uib-pagination>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="grid-container">
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination style="{{ gridStyle }}" class="scale-grid"></div>
        </div>
    </div>
</div>
