<ais-header name="'Ingest Details'" loading="loading" show-subnav="true" subnav-links="subnavLinks"></ais-header>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-inline">
            <div ng-if="ingestRecord">
                <h2 class="margin-top-sm margin-bottom-md"><a href="{{ ingestRecord.url }}">{{ ingestRecord.file_name }}</a></h2>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr><td>Media Type:</td> <td>{{ ingestRecord.media_type }}</td></tr>
                        <tr><td>File Size:</td> <td>{{ scaleService.calculateFileSizeFromBytes(ingestRecord.file_size) }}</td></tr>
                        <tr><td>Workspace:</td> <td><a href="/#/workspaces/{{ ingestRecord.workspace.id }}">{{ ingestRecord.workspace.name }}</a></td></tr>
                        <tr><td>Created:</td> <td>{{ moment.utc(ingestRecord.created).format('YYYY-MM-DD HH:mm:ss[Z]') }}</td></tr>
                        <tr><td>Last Modified:</td> <td>{{ moment.utc(ingestRecord.last_modified).format('YYYY-MM-DD HH:mm:ss[Z]') }}</td></tr>
                        <tr ng-if="ingestRecord.parsed"><td>Parsed:</td> <td>{{ moment.utc(ingestRecord.parsed).format('YYYY-MM-DD HH:mm:ss[Z]') }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<div class="col-xs-12 col-md-6">-->
        <!--<scale-file-ancestry-tree source="nuller" />-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="margin-top-sm margin-bottom-md">Products</h2>
        <table class="table table-hover table-condensed table-striped">
            <tbody>
            <tr>
                <td>File Name</td>
                <td>Job</td>
                <td>File Size</td>
                <td>Created</td>
                <td>Last Modified</td>
            </tr>
            <tr ng-repeat="product in ingestRecord.products">
                <td>
                    <a ng-show="product.url" href="{{ product.url }}" target="_jobfile">{{ product.file_name }}</a>
                    <span ng-show="!product.url">{{ product.file_name }}</span>
                </td>
                <td>
                    <a ng-show="product.job.id" href="{{ '#/jobs/job/' + product.job.id }}">{{ product.job_type.title }}</a>
                </td>
                <td>{{ calculateFileSize(product.file_size) }}</td>
                <td>{{ product.created }}</td>
                <td>{{ product.last_modified }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
