[Unit]
Description=Scale Scheduler
After=network.target
Wants=network.target

[Service]
User=$SCALE_USER
PIDFile=$SCALE_RUN_DIR/scheduler.pid
WorkingDirectory=$SCALE_HOME
ExecStart=$SCALE_PYTHON $SCALE_HOME/manage.py scale_scheduler -m $MESOS_MASTER:5050
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target