name: landsat
version: "1.0"
title: Landsat
description: Landsat GeoTIFF Ingest
configuration:
  version: "1.0"
  mount: "{{ nfs_server }}:/ingest/landsat"
  transfer_suffix: "_tmp"
  files_to_ingest:
    - filename_regex: '.*tar.gz'
      workspace_path: landsat
      workspace_name: raw
