.wy-nav-content {
  max-width: none;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: nowrap;
}

.wy-table-bordered-all, .rst-content table.docutils {
  width: 100%;
}
