<ais-header name="'System Overview'"></ais-header>
<div class="row">
    <div id="ov-status" class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Status</h2>
                <div ng-show="vm.loadingStatus" class="loading-component">
                    <h4>
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
                        Loading
                    </h4>
                </div>
                <div ng-show="!vm.loadingStatus">
                    <div class="widget-label-left">Cluster status and resource utilization</div>
                    <div class="overview-alert text-center">
                        <div class="alert" ng-class="vm.schedulerStatusClass">
                            <div class="row">
                                <div ng-class="vm.schedulerContainerClass">
                                    <h4>{{ vm.schedulerStatus }}</h4>
                                    <div ng-show="!vm.statusError">
                                        <ul class="list-unstyled">
                                            <li>{{ vm.status.scheduler.hostname }}</li>
                                            <li>{{ vm.status.scheduler.mesos.master_hostname}}</li>
                                            <li>{{ vm.status.scheduler.mesos.framework_id}}</li>
                                        </ul>
                                    </div>
                                    <div ng-show="vm.statusError">{{ vm.statusError }}</div>
                                </div>
                                <div id="scheduler" class="col-xs-4 col-lg-2" ng-show="vm.user.is_admin && !vm.statusError">
                                    <button class="btn btn-default margin-top-sm" ng-click="vm.toggleScheduler()"><i class="fa" ng-class="vm.schedulerBtnClass"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Metrics</h2>
                <div class="widget-label-left">Job and Task Rates</div>
                <table class="table table-condensed">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Jobs</th>
                        <th>Tasks</th>
                    </tr>
                    <tr>
                        <th>Launched</th>
                        <td>{{ vm.status.scheduler.metrics.jobs_launched_per_sec }}/s</td>
                        <td>{{ vm.status.scheduler.metrics.tasks_launched_per_sec }}/s</td>
                    </tr>
                    <tr>
                        <th>Finished</th>
                        <td>{{ vm.status.scheduler.metrics.jobs_finished_per_sec }}/s</td>
                        <td>{{ vm.status.scheduler.metrics.tasks_finished_per_sec }}/s</td>
                    </tr>
                </table>
            </div>
        </div>
        <h2>Resource Allocation</h2>
        <div class="widget-label-left">Percentage of resournces that are offered, free, running, and unavailable</div>
        <div class="chart-container" ng-show="!vm.statusError">
            <div class="chart text-center">
                <h4>CPU</h4>
                <div id="cpuChart"></div>
            </div>
            <div class="chart text-center">
                <h4>Memory</h4>
                <div id="memChart"></div>
            </div>
            <div class="chart text-center">
                <h4>Disk</h4>
                <div id="diskChart"></div>
            </div>
            <div class="chart text-center">
                <h4>GPU</h4>
                <div id="gpuChart"></div>
            </div>
        </div>
        <div class="chart-container chart-values" ng-show="!vm.statusError">
            <div class="chart text-center">
                Total: {{ vm.cpuValue }}
            </div>
            <div class="chart text-center">
                Total: {{ vm.memValue }}
            </div>
            <div class="chart text-center">
                Total: {{ vm.diskValue }}
            </div>
            <div class="chart text-center">
                Total: {{ vm.gpuValue }}
            </div>
        </div>
        <div class="text-center" ng-show="vm.statusError">
            <strong>{{ vm.statusError }}</strong>
        </div>
    </div>
    <div id="ov-health" class="col-xs-12 col-md-6">
        <h2>Health</h2>
        <div class="widget-label-left">Average job success rates and node status over the past three hours, including a breakdown of errors.</div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <h3>Jobs</h3>
                <ais-job-health duration="'PT3H'" show-description="false" broadcast-data="true"></ais-job-health>
            </div>
            <div class="col-xs-6 text-center">
                <h3>Nodes</h3>
                <div ng-show="vm.loadingNodeHealth" class="loading-component">
                    <h4>
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
                        Loading
                    </h4>
                </div>
                <div ng-class="{ 'visible': !vm.loadingNodeHealth, 'invisible': vm.loadingNodeHealth }" class="ov-chart form-inline">
                    <div ng-show="vm.nodeHealthError" class="alert alert-danger text-center"><strong>{{ vm.nodeHealthError }}</strong> {{ vm.nodeHealthErrorStatus }}</div>
                    <div ng-show="!vm.nodeHealthError">
                        <ais-node-health loading="vm.loadingNodeHealth" data="vm.nodes" node-type="Active" show-description="false"></ais-node-health>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ais-job-load cull-legend="true"></ais-job-load>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Jobs</h2>
                <div ng-if="vm.loadingJobs" class="loading-component">
                    <h4>
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
                        Loading
                    </h4>
                </div>
                <div class="ov-jobs" ng-if="!vm.loadingJobs">
                    <div ng-show="vm.jobError" class="alert alert-danger text-center"><strong>{{ vm.jobError }}</strong> {{ vm.jobErrorStatus }}</div>
                    <div ng-show="!vm.jobError">
                        <div class="margin-bottom-md">
                            Performance and activity status for all current job types.
                        </div>
                    </div>
                    <ais-grid-chart data="vm.jobData" icons="true" scale="1" mode="tooltip"></ais-grid-chart>
                </div>
            </div>
        </div>
    </div>
</div>
