.widget-label-left {
  margin: 10px 0;
  text-align: left;
}
.widget-label-center {
  width: 65%;
  margin: 10px auto;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-light-webfont.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold-webfont.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-webfont/Roboto-Light-webfont.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-webfont/Roboto-Bold-webfont.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}
body,
html {
  background: #171c1c;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
a {
  cursor: pointer;
}
hr {
  border: 0;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  background: #d0d2d4;
  margin: 1.0em auto;
  width: 100%;
}
.align-right {
  text-align: right;
}
.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}
.strong {
  font-weight: bold;
}
.tall {
  min-height: 100% !important;
}
.view {
  background: #f2f9ff;
}
.completed {
  background-color: #8fca0e;
  font-size: 100%;
}
.blocked {
  background-color: #cccccc;
  font-size: 100%;
}
.queued {
  background-color: #bf81bf;
  font-size: 100%;
}
.running {
  background-color: #589ad0;
  font-size: 100%;
}
.failed {
  background-color: #f54d36;
  font-size: 100%;
}
.canceled {
  background-color: #cccccc;
  font-size: 100%;
}
.paused {
  background-color: #ffc317;
  font-size: 100%;
}
.loading-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 215px;
  z-index: 1010;
  background: rgba(242, 249, 255, 0.75);
  text-align: center;
}
.loading-content i {
  margin-bottom: 10px;
}
.loading-component {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.header .nav {
  margin: 20px 0;
}
.margin-top-sm {
  margin-top: 5px;
}
.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}
.margin-right-sm {
  margin-right: 5px;
}
.margin-right-md {
  margin-right: 10px;
}
.margin-right-lg {
  margin-right: 20px;
}
.margin-bottom-sm {
  margin-bottom: 5px;
}
.margin-bottom-md {
  margin-bottom: 10px;
}
.margin-bottom-lg {
  margin-bottom: 20px;
}
.margin-left-sm {
  margin-left: 5px;
}
.margin-left-md {
  margin-left: 10px;
}
.margin-left-lg {
  margin-left: 20px;
}
.mediaType {
  font-size: 1.5em;
}
/************ Bootstrap Overrides ************/
ol.breadcrumb {
  background: none;
}
ol.breadcrumb li {
  background: #fff;
  padding: 8px;
}
ol.breadcrumb li:nth-last-child(2) {
  padding-right: 0;
}
.input-sm {
  height: 22px;
}
.visible {
  visibility: visible;
}
.tab-content {
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}
.tab-content h3 {
  margin: 0;
  padding: 0 10px 10px 0;
}
.table-hover tr.link:hover {
  cursor: pointer;
  background: #337ab7;
  color: white;
}
.panel-default > a:hover {
  background-color: #337ab7;
  color: white;
  text-decoration: none;
}
.panel-default > a > .panel-heading {
  background-image: none;
  background-color: #f7f7f7;
}
.panel-default > a > .panel-heading:hover {
  background-color: #337ab7;
}

.widget-label-left {
  margin: 10px 0;
  text-align: left;
}
.widget-label-center {
  width: 65%;
  margin: 10px auto;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-light-webfont.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold-webfont.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-webfont/Roboto-Light-webfont.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-webfont/Roboto-Bold-webfont.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}
body,
html {
  background: #171c1c;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
a {
  cursor: pointer;
}
hr {
  border: 0;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  background: #d0d2d4;
  margin: 1.0em auto;
  width: 100%;
}
.align-right {
  text-align: right;
}
.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}
.strong {
  font-weight: bold;
}
.tall {
  min-height: 100% !important;
}
.view {
  background: #f2f9ff;
}
.completed {
  background-color: #8fca0e;
  font-size: 100%;
}
.blocked {
  background-color: #cccccc;
  font-size: 100%;
}
.queued {
  background-color: #bf81bf;
  font-size: 100%;
}
.running {
  background-color: #589ad0;
  font-size: 100%;
}
.failed {
  background-color: #f54d36;
  font-size: 100%;
}
.canceled {
  background-color: #cccccc;
  font-size: 100%;
}
.paused {
  background-color: #ffc317;
  font-size: 100%;
}
.loading-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 215px;
  z-index: 1010;
  background: rgba(242, 249, 255, 0.75);
  text-align: center;
}
.loading-content i {
  margin-bottom: 10px;
}
.loading-component {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.header .nav {
  margin: 20px 0;
}
.margin-top-sm {
  margin-top: 5px;
}
.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}
.margin-right-sm {
  margin-right: 5px;
}
.margin-right-md {
  margin-right: 10px;
}
.margin-right-lg {
  margin-right: 20px;
}
.margin-bottom-sm {
  margin-bottom: 5px;
}
.margin-bottom-md {
  margin-bottom: 10px;
}
.margin-bottom-lg {
  margin-bottom: 20px;
}
.margin-left-sm {
  margin-left: 5px;
}
.margin-left-md {
  margin-left: 10px;
}
.margin-left-lg {
  margin-left: 20px;
}
.mediaType {
  font-size: 1.5em;
}
/************ Bootstrap Overrides ************/
ol.breadcrumb {
  background: none;
}
ol.breadcrumb li {
  background: #fff;
  padding: 8px;
}
ol.breadcrumb li:nth-last-child(2) {
  padding-right: 0;
}
.input-sm {
  height: 22px;
}
.visible {
  visibility: visible;
}
.tab-content {
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}
.tab-content h3 {
  margin: 0;
  padding: 0 10px 10px 0;
}
.table-hover tr.link:hover {
  cursor: pointer;
  background: #337ab7;
  color: white;
}
.panel-default > a:hover {
  background-color: #337ab7;
  color: white;
  text-decoration: none;
}
.panel-default > a > .panel-heading {
  background-image: none;
  background-color: #f7f7f7;
}
.panel-default > a > .panel-heading:hover {
  background-color: #337ab7;
}

h1.data-feed-title {
  margin: 0 0 15px 0;
}
.data-feed-form {
  padding-top: 6px;
}
@-webkit-keyframes flash-current {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes flash-current {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
.aisDataFeed table {
  padding: 2px;
}
.aisDataFeed table .day-of-week {
  font-size: 12px;
  font-weight: normal;
}
.aisDataFeed table th {
  text-align: right;
  padding: 0 3px 0 0;
}
.aisDataFeed table td {
  text-align: center;
  padding: 1px;
  min-width: 101px;
  min-height: 101px;
}
.aisDataFeed table td span {
  padding: 2px 0;
}
.aisDataFeed table td .file-size {
  font-size: 9px;
}
.aisDataFeed table td .file-count {
  font-size: 12px;
}
.aisDataFeed table td .good {
  background-color: #8fca0e;
  color: #ffffff;
}
.aisDataFeed table td .current {
  background-color: #589ad0;
  color: #ffffff;
  -webkit-animation-name: flash-current;
  -webkit-animation-duration: 3s;
  -webkit-animation: flash-current 3s infinite linear;
          animation: flash-current 3s infinite linear;
}
.aisDataFeed table td .future {
  background-color: #cccccc;
}
.aisDataFeed table td .unknown {
  background-color: #ffffff;
}
.aisDataFeed table .day-label {
  font-weight: bold;
}

h1.data-feed-title {
  margin: 0 0 15px 0;
}
.data-feed-form {
  padding-top: 6px;
}
@-webkit-keyframes flash-current {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes flash-current {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
.aisDataFeed table {
  padding: 2px;
}
.aisDataFeed table .day-of-week {
  font-size: 12px;
  font-weight: normal;
}
.aisDataFeed table th {
  text-align: right;
  padding: 0 3px 0 0;
}
.aisDataFeed table td {
  text-align: center;
  padding: 1px;
  min-width: 101px;
  min-height: 101px;
}
.aisDataFeed table td span {
  padding: 2px 0;
}
.aisDataFeed table td .file-size {
  font-size: 9px;
}
.aisDataFeed table td .file-count {
  font-size: 12px;
}
.aisDataFeed table td .good {
  background-color: #8fca0e;
  color: #ffffff;
}
.aisDataFeed table td .current {
  background-color: #589ad0;
  color: #ffffff;
  -webkit-animation-name: flash-current;
  -webkit-animation-duration: 3s;
  animation: flash-current 3s infinite linear;
}
.aisDataFeed table td .future {
  background-color: #cccccc;
}
.aisDataFeed table td .unknown {
  background-color: #ffffff;
}
.aisDataFeed table .day-label {
  font-weight: bold;
}

.aisDonut path {
  cursor: pointer;
}
.aisDonut text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-weight: bold;
}
.aisDonut .txtCount {
  font-size: 200%;
}
.aisDonut .txtStatus {
  font-size: 80%;
}
.aisDonut .up {
  fill: #8fca0e;
  stroke: #f2f9ff;
  stroke-width: 1px;
}
.aisDonut .up:hover {
  fill: #adef1c;
  stroke: #7eb20c;
  stroke-width: 2px;
}
.aisDonut .down {
  fill: #f54d36;
  stroke: #ffffff;
  stroke-width: 1px;
}
.aisDonut .down:hover {
  fill: #f77867;
  stroke: #f4371e;
  stroke-width: 2px;
}
.aisDonut .warning {
  fill: #ffc317;
  stroke: #ffffff;
  stroke-width: 1px;
}
.aisDonut .warning:hover {
  fill: #ffd04a;
  stroke: #fcbb00;
  stroke-width: 2px;
}

.aisDonut path {
  cursor: pointer;
}
.aisDonut text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-weight: bold;
}
.aisDonut .txtCount {
  font-size: 200%;
}
.aisDonut .txtStatus {
  font-size: 80%;
}
.aisDonut .up {
  fill: #8fca0e;
  stroke: #f2f9ff;
  stroke-width: 1px;
}
.aisDonut .up:hover {
  fill: #adef1c;
  stroke: #7eb20c;
  stroke-width: 2px;
}
.aisDonut .down {
  fill: #f54d36;
  stroke: #ffffff;
  stroke-width: 1px;
}
.aisDonut .down:hover {
  fill: #f77867;
  stroke: #f4371e;
  stroke-width: 2px;
}
.aisDonut .warning {
  fill: #ffc317;
  stroke: #ffffff;
  stroke-width: 1px;
}
.aisDonut .warning:hover {
  fill: #ffd04a;
  stroke: #fcbb00;
  stroke-width: 2px;
}

.aisRadial .background {
  fill: #dee2e6;
}
.aisRadial .foreground {
  fill: #8fca0e;
}
.aisRadial text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-size: 200%;
  font-weight: bold;
}

.aisRadial .background {
  fill: #dee2e6;
}
.aisRadial .foreground {
  fill: #8fca0e;
}
.aisRadial text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-size: 200%;
  font-weight: bold;
}

.recipe-editor {
  color: #000;
  margin: 10px;
}
.recipe-editor label {
  color: #000;
}
.recipe-editor button {
  color: #333;
}
.add-job-modal-window .modal-dialog {
  width: 500px;
}
.recipe-viewer {
  width: 100%;
  vertical-align: top;
}
.recipe-viewer h3 {
  margin-top: 0;
  margin-bottom: 2px!important;
}
.recipe-viewer h4 {
  margin-top: 0;
}
.recipe-viewer .panel-heading h4 {
  margin: 0;
}
.recipe-viewer .recipe-viewer-title {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: -10px;
}
.recipe-viewer .panel-body {
  padding: 10px;
}
.recipe-viewer .label-header {
  color: #333;
  font-size: inherit;
  font-weight: bold;
  margin-left: 10px;
}
.recipe-viewer .label-success {
  font-size: inherit;
  margin-right: 15px;
}
.recipe-viewer .col-graph {
  width: 100%;
}
.recipe-viewer .col-graph.panel-default {
  border-color: #f3f3f3;
}
.recipe-viewer .col-details {
  width: 100%;
}
.recipe-viewer .col-details .job-active {
  visibility: visible;
  transition-property: visibility;
  transition-duration: .5s;
  transition-timing-function: linear;
}
.recipe-viewer .col-details.panel {
  border: none;
  box-shadow: none;
}
.recipe-viewer .col-details .panel-heading {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.recipe-viewer .job-details {
  height: 90%;
  overflow-y: auto;
}
.recipe-viewer .job-details h4,
.recipe-viewer .job-details h5 {
  font-weight: bold;
}
.recipe-viewer .job-details h5 {
  margin: 5px 0 5px 0;
  font-style: italic;
}
.recipe-viewer .job-details .list-group {
  margin: 0 5px 10px 1px;
}
.recipe-viewer .job-details .list-group-item {
  background: #f7f7f7;
  padding: 5px;
}
.recipe-viewer .job-details .dependents .list-group-item {
  background: #fff;
}
.recipe-viewer .job-details .job-name {
  font-weight: bold;
}
.recipe-viewer .job-details .property {
  font-style: italic;
}
.recipe-viewer .fa {
  -webkit-transform: none;
          transform: none;
}
.recipe-viewer text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-size: 200%;
  font-weight: bold;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
.recipe-viewer .warn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.recipe-viewer .live.map {
  width: 100%;
  height: 100%;
}
.recipe-viewer svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}
.recipe-viewer .live.map text {
  font-weight: 300;
  font-size: 14px;
}
.recipe-viewer .live.map .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
}
.recipe-viewer .live.map .status {
  height: 100%;
  width: 15px;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}
.recipe-viewer .live.map .completed .status {
  background-color: #8fca0e;
}
.recipe-viewer .live.map .blocked .status {
  background-color: #cccccc;
}
.recipe-viewer .live.map .queued .status {
  background-color: #bf81bf;
}
.recipe-viewer .live.map .running .status {
  background-color: #589ad0;
}
.recipe-viewer .live.map .failed .status {
  background-color: #f54d36;
}
.recipe-viewer .live.map .canceled .status {
  background-color: #cccccc;
}
.recipe-viewer .live.map .pending .status {
  background-color: #fb03b2;
}
.recipe-viewer .warn {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.recipe-viewer .live.map .consumers {
  margin-right: 2px;
}
.recipe-viewer .live.map .consumers,
.recipe-viewer .live.map .name {
  margin-top: 4px;
}
.recipe-viewer .live.map .consumers:after {
  content: "x";
}
.recipe-viewer .live.map .queue {
  display: block;
  float: left;
  width: 130px;
  height: 30px;
  font-size: 12px;
  margin-top: 2px;
}
.recipe-viewer .live.map .node g div {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  font-weight: normal;
  line-height: 40px;
  vertical-align: middle;
  font-size: 20px;
}
.recipe-viewer .live.map .node g div.selected-node {
  transition-property: border;
  transition-duration: .1s;
  transition-timing-function: linear;
  border: #ADFF2F 3px solid;
}
.recipe-viewer .live.map .node g div.selected-node-selectable {
  border: yellow 3px solid;
  background: #663;
}
.recipe-viewer .live.map .node g div.selected-node-secondary {
  border: yellow 3px solid;
  background: #663;
}
.recipe-viewer .live.map .node g div.selected-node-dependency {
  transition-property: border;
  transition-duration: .1s;
  transition-timing-function: linear;
  border: #2FFFAD 3px solid;
}
.recipe-viewer .live.map .node g div span.consumers {
  display: inline-block;
  width: 20px;
}
.recipe-viewer .live.map .edgeLabel text {
  width: 50px;
  fill: #999;
}
.recipe-viewer .live.map .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}

.recipe-editor {
  color: #000;
  margin: 10px;
}
.recipe-editor label {
  color: #000;
}
.recipe-editor button {
  color: #333;
}
.add-job-modal-window .modal-dialog {
  width: 500px;
}
.recipe-viewer {
  width: 100%;
  vertical-align: top;
}
.recipe-viewer h3 {
  margin-top: 0;
  margin-bottom: 2px!important;
}
.recipe-viewer h4 {
  margin-top: 0;
}
.recipe-viewer .panel-heading h4 {
  margin: 0;
}
.recipe-viewer .recipe-viewer-title {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: -10px;
}
.recipe-viewer .panel-body {
  padding: 10px;
}
.recipe-viewer .label-header {
  color: #333;
  font-size: inherit;
  font-weight: bold;
  margin-left: 10px;
}
.recipe-viewer .label-success {
  font-size: inherit;
  margin-right: 15px;
}
.recipe-viewer .col-graph {
  width: 100%;
}
.recipe-viewer .col-graph.panel-default {
  border-color: #f3f3f3;
}
.recipe-viewer .col-details {
  width: 100%;
}
.recipe-viewer .col-details .job-active {
  visibility: visible;
  transition-property: visibility;
  transition-duration: .5s;
  transition-timing-function: linear;
}
.recipe-viewer .col-details.panel {
  border: none;
  box-shadow: none;
}
.recipe-viewer .col-details .panel-heading {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.recipe-viewer .job-details {
  height: 90%;
  overflow-y: auto;
}
.recipe-viewer .job-details h4,
.recipe-viewer .job-details h5 {
  font-weight: bold;
}
.recipe-viewer .job-details h5 {
  margin: 5px 0 5px 0;
  font-style: italic;
}
.recipe-viewer .job-details .list-group {
  margin: 0 5px 10px 1px;
}
.recipe-viewer .job-details .list-group-item {
  background: #f7f7f7;
  padding: 5px;
}
.recipe-viewer .job-details .dependents .list-group-item {
  background: #fff;
}
.recipe-viewer .job-details .job-name {
  font-weight: bold;
}
.recipe-viewer .job-details .property {
  font-style: italic;
}
.recipe-viewer .fa {
  transform: none;
}
.recipe-viewer text {
  font-family: 'helvetica', 'arial', 'sans-serif';
  font-size: 200%;
  font-weight: bold;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
.recipe-viewer .warn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.recipe-viewer .live.map {
  width: 100%;
  height: 100%;
}
.recipe-viewer svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}
.recipe-viewer .live.map text {
  font-weight: 300;
  font-size: 14px;
}
.recipe-viewer .live.map .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
}
.recipe-viewer .live.map .status {
  height: 100%;
  width: 15px;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}
.recipe-viewer .live.map .completed .status {
  background-color: #8fca0e;
}
.recipe-viewer .live.map .blocked .status {
  background-color: #cccccc;
}
.recipe-viewer .live.map .queued .status {
  background-color: #bf81bf;
}
.recipe-viewer .live.map .running .status {
  background-color: #589ad0;
}
.recipe-viewer .live.map .failed .status {
  background-color: #f54d36;
}
.recipe-viewer .live.map .canceled .status {
  background-color: #cccccc;
}
.recipe-viewer .live.map .pending .status {
  background-color: #fb03b2;
}
.recipe-viewer .warn {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.recipe-viewer .live.map .consumers {
  margin-right: 2px;
}
.recipe-viewer .live.map .consumers,
.recipe-viewer .live.map .name {
  margin-top: 4px;
}
.recipe-viewer .live.map .consumers:after {
  content: "x";
}
.recipe-viewer .live.map .queue {
  display: block;
  float: left;
  width: 130px;
  height: 30px;
  font-size: 12px;
  margin-top: 2px;
}
.recipe-viewer .live.map .node g div {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  font-weight: normal;
  line-height: 40px;
  vertical-align: middle;
  font-size: 20px;
}
.recipe-viewer .live.map .node g div.selected-node {
  transition-property: border;
  transition-duration: .1s;
  transition-timing-function: linear;
  border: #ADFF2F 3px solid;
}
.recipe-viewer .live.map .node g div.selected-node-selectable {
  border: yellow 3px solid;
  background: #663;
}
.recipe-viewer .live.map .node g div.selected-node-secondary {
  border: yellow 3px solid;
  background: #663;
}
.recipe-viewer .live.map .node g div.selected-node-dependency {
  transition-property: border;
  transition-duration: .1s;
  transition-timing-function: linear;
  border: #2FFFAD 3px solid;
}
.recipe-viewer .live.map .node g div span.consumers {
  display: inline-block;
  width: 20px;
}
.recipe-viewer .live.map .edgeLabel text {
  width: 50px;
  fill: #999;
}
.recipe-viewer .live.map .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}

.aisScaleOverview .background {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
.aisScaleOverview .timeline:hover {
  cursor: pointer;
  stroke: #666;
  stroke-width: 2px;
}
.aisScaleOverview .marker-now {
  stroke: #171c1c;
  stroke-width: 2px;
}
.aisScaleOverview .statusbar {
  cursor: pointer;
  fill-opacity: 0.65;
}
.aisScaleOverview .area {
  fill-opacity: 0.65;
}
.aisScaleOverview .layer-data text {
  fill: #434649;
  font-weight: bold;
}
.aisScaleOverview .up {
  fill: #8fca0e;
}
.aisScaleOverview .up:hover {
  fill: #adef1c;
}
.aisScaleOverview .down {
  fill: #f54d36;
}
.aisScaleOverview .down:hover {
  fill: #f77867;
}
.aisScaleOverview .warning {
  fill: #ffc317;
}
.aisScaleOverview .warning:hover {
  fill: #ffd04a;
}

.aisScaleOverview .background {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
.aisScaleOverview .timeline:hover {
  cursor: pointer;
  stroke: #666;
  stroke-width: 2px;
}
.aisScaleOverview .marker-now {
  stroke: #171c1c;
  stroke-width: 2px;
}
.aisScaleOverview .statusbar {
  cursor: pointer;
  fill-opacity: 0.65;
}
.aisScaleOverview .area {
  fill-opacity: 0.65;
}
.aisScaleOverview .layer-data text {
  fill: #434649;
  font-weight: bold;
}
.aisScaleOverview .up {
  fill: #8fca0e;
}
.aisScaleOverview .up:hover {
  fill: #adef1c;
}
.aisScaleOverview .down {
  fill: #f54d36;
}
.aisScaleOverview .down:hover {
  fill: #f77867;
}
.aisScaleOverview .warning {
  fill: #ffc317;
}
.aisScaleOverview .warning:hover {
  fill: #ffd04a;
}

.chart {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #33b5e5;
}
.bar-failed {
  fill: #CC0000;
}
.bar-running {
  fill: #669900;
}
.bar-succeeded {
  fill: #33b5e5;
}
.bar-killed {
  fill: #ffbb33;
}
.ais-timeline {
  padding: 0;
}
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 10;
  padding: 10px 10px 10px 5px;
  color: #fff;
  background: url('http://dk8996.github.io/Gantt-Chart/images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}
#twittme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 180px;
  z-index: 10;
  padding: 10px 10px 10px 5px;
  color: #fff;
  background: url('http://dk8996.github.io/Gantt-Chart/images/twitter.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}

.chart {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #33b5e5;
}
.bar-failed {
  fill: #CC0000;
}
.bar-running {
  fill: #669900;
}
.bar-succeeded {
  fill: #33b5e5;
}
.bar-killed {
  fill: #ffbb33;
}
.ais-timeline {
  padding: 0;
}
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 10;
  padding: 10px 10px 10px 5px;
  color: #fff;
  background: url('http://dk8996.github.io/Gantt-Chart/images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}
#twittme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 180px;
  z-index: 10;
  padding: 10px 10px 10px 5px;
  color: #fff;
  background: url('http://dk8996.github.io/Gantt-Chart/images/twitter.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.line-chart .tick {
  font-size: 11px;
}
rect.overlay {
  fill: none;
  pointer-events: none;
}
.chart-control {
  margin-top: 18px;
}
.grid-chart-filter input {
  width: 50px;
  display: inline-block;
}
.grid-chart-container-border {
  border: 1px solid #ccc;
  padding: 5px;
}
.grid-chart-container {
  position: relative;
  margin-bottom: 10px;
}
.grid-chart-container .grid-chart {
  /*&.nodes .cell-text {
          font-size: 1.5em!important;
        }*/
}
.grid-chart-container .grid-chart text {
  fill: #fff;
}
.grid-chart-container .grid-chart .tick text {
  fill: #000;
}
.grid-chart-container .grid-chart .axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.grid-chart-container .grid-chart.icons .cell-text,
.grid-chart-container .grid-chart .cell-activity,
.grid-chart-container .grid-chart .cell-jobs,
.grid-chart-container .grid-chart .cell-pause-resume-icon {
  font-family: FontAwesome;
}
.grid-chart-container .grid-chart .cell-text {
  font-size: 2em;
}
.grid-chart-container .grid-chart .cell-activity {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  -webkit-transform-origin: 50% 50%;
}
.grid-chart-container .grid-chart .cell-text-detail {
  font-size: 14px;
}
.grid-chart-container .grid-chart .cell-overlay {
  fill-opacity: 0;
}
.grid-chart-container .grid-chart .cell-overlay:hover {
  cursor: pointer;
}
.grid-chart-container .grid-chart .cell-enter {
  -webkit-animation: fadein 750ms;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 750ms;
}
.grid-chart-container .grid-chart .cell-exit {
  -webkit-animation: fadeout 750ms;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadeout 750ms;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
/* Opera < 12.1 */
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Internet Explorer */
/* Opera < 12.1 */
.area rect.overlay {
  cursor: move;
}
.area.success {
  fill: #8fca0e;
}
.area.success:hover {
  fill: #adef1c;
}
.area.info {
  fill: #ffc317;
}
.area.info:hover {
  fill: #ffd04a;
}
.area.warning {
  fill: #ff7730;
}
.area.warning:hover {
  fill: #ff9963;
}
.area.danger {
  fill: #f77867;
}
.area.danger:hover {
  fill: #faa397;
}
.queue-depth-container,
.job-load-container {
  text-align: center;
}
.queue-depth-container h2,
.job-load-container h2 {
  text-align: left;
}
.queue-depth-filter,
.job-load-filter {
  margin-top: 20px;
}
.queue-legend-label,
.job-load-legend-label {
  text-align: center;
  font-weight: bold;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.line-chart .tick {
  font-size: 11px;
}
rect.overlay {
  fill: none;
  pointer-events: none;
}
.chart-control {
  margin-top: 18px;
}
.grid-chart-filter input {
  width: 50px;
  display: inline-block;
}
.grid-chart-container-border {
  border: 1px solid #ccc;
  padding: 5px;
}
.grid-chart-container {
  position: relative;
  margin-bottom: 10px;
}
.grid-chart-container .grid-chart {
  /*&.nodes .cell-text {
          font-size: 1.5em!important;
        }*/
}
.grid-chart-container .grid-chart text {
  fill: #fff;
}
.grid-chart-container .grid-chart .tick text {
  fill: #000;
}
.grid-chart-container .grid-chart .axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.grid-chart-container .grid-chart.icons .cell-text,
.grid-chart-container .grid-chart .cell-activity,
.grid-chart-container .grid-chart .cell-jobs,
.grid-chart-container .grid-chart .cell-pause-resume-icon {
  font-family: FontAwesome;
}
.grid-chart-container .grid-chart .cell-text {
  font-size: 2em;
}
.grid-chart-container .grid-chart .cell-activity {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  -webkit-transform-origin: 50% 50%;
}
.grid-chart-container .grid-chart .cell-text-detail {
  font-size: 14px;
}
.grid-chart-container .grid-chart .cell-overlay {
  fill-opacity: 0;
}
.grid-chart-container .grid-chart .cell-overlay:hover {
  cursor: pointer;
}
.grid-chart-container .grid-chart .cell-enter {
  -webkit-animation: fadein 750ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 750ms;
  /* Firefox < 16 */
  -ms-animation: fadein 750ms;
  /* Internet Explorer */
  -o-animation: fadein 750ms;
  /* Opera < 12.1 */
  animation: fadein 750ms;
}
.grid-chart-container .grid-chart .cell-exit {
  -webkit-animation: fadeout 750ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 750ms;
  /* Firefox < 16 */
  -ms-animation: fadeout 750ms;
  /* Internet Explorer */
  -o-animation: fadeout 750ms;
  /* Opera < 12.1 */
  animation: fadeout 750ms;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.area rect.overlay {
  cursor: move;
}
.area.success {
  fill: #8fca0e;
}
.area.success:hover {
  fill: #adef1c;
}
.area.info {
  fill: #ffc317;
}
.area.info:hover {
  fill: #ffd04a;
}
.area.warning {
  fill: #ff7730;
}
.area.warning:hover {
  fill: #ff9963;
}
.area.danger {
  fill: #f77867;
}
.area.danger:hover {
  fill: #faa397;
}
.queue-depth-container,
.job-load-container {
  text-align: center;
}
.queue-depth-container h2,
.job-load-container h2 {
  text-align: left;
}
.queue-depth-filter,
.job-load-filter {
  margin-top: 20px;
}
.queue-legend-label,
.job-load-legend-label {
  text-align: center;
  font-weight: bold;
}

.hs-btn {
  letter-spacing: 0.09em;
  margin: 0.1em 0.2em 0.2em 0.2em;
  padding: 0.2em 0.2em;
  width: 50px;
  height: 50px;
}
.hs-btn .hs-hostname {
  padding: 2px;
  font-weight: bold;
}
.hs-btn .hs-executing {
  position: relative;
}
.hs-btn .hs-executing .icon {
  padding: 12px 0 0 2px;
}
.hs-btn .hs-executing .active {
  position: absolute;
  top: -5px;
  right: -3px;
}
.hs-btn .hs-metadata {
  font-size: 75%;
}
.hs-good {
  background-color: #d8f893;
}
.hs-good:hover {
  background-color: #e9fbc3;
}
.hs-success {
  background-color: #99d80f;
}
.hs-success:hover {
  background-color: #9ddd0f;
}
.hs-warning {
  background-color: #ffd763;
}
.hs-warning:hover {
  background-color: #ffe497;
}
.hs-error {
  background-color: #f77867;
}
.hs-error:hover {
  background-color: #faa397;
}

.hs-btn {
  letter-spacing: 0.09em;
  margin: 0.1em 0.2em 0.2em 0.2em;
  padding: 0.2em 0.2em;
  width: 50px;
  height: 50px;
}
.hs-btn .hs-hostname {
  padding: 2px;
  font-weight: bold;
}
.hs-btn .hs-executing {
  position: relative;
}
.hs-btn .hs-executing .icon {
  padding: 12px 0 0 2px;
}
.hs-btn .hs-executing .active {
  position: absolute;
  top: -5px;
  right: -3px;
}
.hs-btn .hs-metadata {
  font-size: 75%;
}
.hs-good {
  background-color: #d8f893;
}
.hs-good:hover {
  background-color: #e9fbc3;
}
.hs-success {
  background-color: #99d80f;
}
.hs-success:hover {
  background-color: #9ddd0f;
}
.hs-warning {
  background-color: #ffd763;
}
.hs-warning:hover {
  background-color: #ffe497;
}
.hs-error {
  background-color: #f77867;
}
.hs-error:hover {
  background-color: #faa397;
}

.nav {
  color: #f2f9ff;
  min-height: 100%;
}
.nav hr {
  border: 0;
  border-bottom: 1px solid #506262;
  height: 1px;
  background: #000000;
  margin: 1.0em auto;
  width: 90%;
}
.nav-ctr {
  padding-right: 0;
  padding-left: 0;
}
.nav-logo {
  border-bottom: 12px solid #3681bf;
  margin: 0;
  width: 100%;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.nav-logo a {
  color: #fff;
}
.nav-link {
  color: #40a8ff;
  cursor: pointer;
  height: 100%;
  padding: 1.5em 1.5em;
  text-align: right;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  background-color: #3681bf;
  color: #f2f9ff;
  text-decoration: none;
}
.selected {
  background: #f2f9ff;
  cursor: default;
  color: #171c1c;
  font-weight: bold;
  text-shadow: none;
}
.selected:hover {
  background: #f2f9ff;
  color: #434649;
}
.nav-section {
  border-bottom: 1px solid #394646;
  border-top: 1px solid #000000;
}

.nav {
  color: #f2f9ff;
  min-height: 100%;
}
.nav hr {
  border: 0;
  border-bottom: 1px solid #506262;
  height: 1px;
  background: #000000;
  margin: 1.0em auto;
  width: 90%;
}
.nav-ctr {
  padding-right: 0;
  padding-left: 0;
}
.nav-logo {
  border-bottom: 12px solid #3681bf;
  margin: 0;
  width: 100%;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.nav-logo a {
  color: #fff;
}
.nav-link {
  color: #40a8ff;
  cursor: pointer;
  height: 100%;
  padding: 1.5em 1.5em;
  text-align: right;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  background-color: #3681bf;
  color: #f2f9ff;
  text-decoration: none;
}
.selected {
  background: #f2f9ff;
  cursor: default;
  color: #171c1c;
  font-weight: bold;
  text-shadow: none;
}
.selected:hover {
  background: #f2f9ff;
  color: #434649;
}
.nav-section {
  border-bottom: 1px solid #394646;
  border-top: 1px solid #000000;
}

.tooltip {
  font-family: 'courier', mono;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #3681bf;
}
.tooltip-inner {
  background-color: #3681bf;
  text-shadow: 1px 1px 0 #204b6f;
}

.tooltip {
  font-family: 'courier', mono;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #3681bf;
}
.tooltip-inner {
  background-color: #3681bf;
  text-shadow: 1px 1px 0 #204b6f;
}

h2 {
  margin: 2px 0;
}
.ov-chart {
  height: 150px;
}
.ov-overview-chart {
  margin: 2.0em 0;
  width: 100%;
  height: 350px;
  text-align: center;
}
.overview-alert .alert h4 {
  margin: 3px 0;
}
.overview-alert .alert-success {
  background-image: none;
  background: #8fca0e;
  color: #fff;
  border-color: #6d9a0b;
}
.overview-alert .alert-danger {
  background-image: none;
  background: #f54d36;
  color: #fff;
  border-color: #ec270c;
}
.overview-alert .alert-warning {
  background-image: none;
  background: #ffc317;
  color: #fff;
  border-color: #e3a800;
}
.ov-margin-fix {
  margin-bottom: 110px;
  /* this is necessary because of the health directives used inside this div */
}

h2 {
  margin: 2px 0;
}
.ov-chart {
  height: 150px;
}
.ov-overview-chart {
  margin: 2.0em 0;
  width: 100%;
  height: 350px;
  text-align: center;
}
.overview-alert .alert h4 {
  margin: 3px 0;
}
.overview-alert .alert-success {
  background-image: none;
  background: #8fca0e;
  color: #fff;
  border-color: #6d9a0b;
}
.overview-alert .alert-danger {
  background-image: none;
  background: #f54d36;
  color: #fff;
  border-color: #ec270c;
}
.overview-alert .alert-warning {
  background-image: none;
  background: #ffc317;
  color: #fff;
  border-color: #e3a800;
}
.ov-margin-fix {
  margin-bottom: 110px;
  /* this is necessary because of the health directives used inside this div */
}

.modal-content {
  padding: 0px;
}
.modal-header {
  padding: 10px;
}
.modal-body {
  padding: 10px;
}
.modal-footer {
  padding: 10px;
}
.log-modal-window {
  margin-left: 2%;
  width: 95% !important;
}
.log-modal-window .modal-dialog {
  width: 100% !important;
}

.modal-content {
  padding: 0px;
}
.modal-header {
  padding: 10px;
}
.modal-body {
  padding: 10px;
}
.modal-footer {
  padding: 10px;
}
.log-modal-window {
  margin-left: 2%;
  width: 95% !important;
}
.log-modal-window .modal-dialog {
  width: 100% !important;
}

.grid-container {
  background: #fff;
}
.grid-container .scale-grid {
  width: auto;
}
.grid-container .scale-grid .ui-grid-header {
  width: 100%;
}
.grid-container .scale-grid .ui-grid-row:hover .ui-grid-cell-contents {
  cursor: pointer;
  background: #3681bf;
  color: white;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: inherit;
}

.grid-container {
  background: #fff;
}
.grid-container .scale-grid {
  width: auto;
}
.grid-container .scale-grid .ui-grid-header {
  width: 100%;
}
.grid-container .scale-grid .ui-grid-row:hover .ui-grid-cell-contents {
  cursor: pointer;
  background: #3681bf;
  color: white;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: inherit;
}

.master-controls {
  padding-bottom: 10px;
}
.master-container {
  background-color: #fff;
  border: 1px solid #ddd;
}
.master-container ul li {
  display: block;
  background: #fff;
  padding: 10px 5px;
  font-size: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.master-container ul li:hover {
  background: #efefef;
  cursor: pointer;
}
.master-container ul li.active {
  background: #efefef;
  cursor: default;
}
.detail-container {
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.detail-container.no-tabs {
  border-top: 1px solid #ddd;
  padding: 10px;
}
.detail-container.no-tabs h3 {
  padding: 0;
}
.detail-container.no-tabs #details,
.detail-container.no-tabs #performance,
.detail-container.no-tabs #errors {
  padding: 0;
}
.detail-container h3 {
  margin: 0;
  padding: 20px 10px 0 10px;
}
.detail-container h5 {
  margin: 0;
  font-weight: 600;
}
.detail-container #details,
.detail-container #performance,
.detail-container #errors {
  padding: 0 10px;
}
.detail-container .tab-content {
  border: none;
}

.master-controls {
  padding-bottom: 10px;
}
.master-container {
  background-color: #fff;
  border: 1px solid #ddd;
}
.master-container ul li {
  display: block;
  background: #fff;
  padding: 10px 5px;
  font-size: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.master-container ul li:hover {
  background: #efefef;
  cursor: pointer;
}
.master-container ul li.active {
  background: #efefef;
  cursor: default;
}
.detail-container {
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.detail-container.no-tabs {
  border-top: 1px solid #ddd;
  padding: 10px;
}
.detail-container.no-tabs h3 {
  padding: 0;
}
.detail-container.no-tabs #details,
.detail-container.no-tabs #performance,
.detail-container.no-tabs #errors {
  padding: 0;
}
.detail-container h3 {
  margin: 0;
  padding: 20px 10px 0 10px;
}
.detail-container h5 {
  margin: 0;
  font-weight: 600;
}
.detail-container #details,
.detail-container #performance,
.detail-container #errors {
  padding: 0 10px;
}
.detail-container .tab-content {
  border: none;
}

.stats-container {
  position: relative;
  width: 100%;
  min-height: 290px;
  /*.gauge {
        .success-label {
            margin-top: -107px;
        }
    }
    .donut {
        position: absolute!important;
        bottom: -255px;
        left: 0;
        .c3-chart-arcs-title {
            font-family: 'raleway', sans-serif;
            font-size: 14px;
        }
    }
    .donut-label-container {
        position: absolute;
        bottom: -265px;
        left: 0;
        width: 100%;
        .error-label {
            text-align: center;
        }
    }*/
}
.stats-container h3 {
  position: absolute;
  top: 0;
  left: 0;
}
.stats-container .donut {
  position: absolute;
  top: 0;
  left: 0;
}
.stats-container .donut .gauge {
  width: 144px;
  /* this width is based on the default gauge width of 160 */
  height: 144px;
  position: absolute;
  top: 19%;
  left: 50%;
  margin-left: -72px;
}
.stats-container .donut-static {
  position: static;
  top: 0;
  left: 0;
  margin-top: -49px;
}
.stats-container .donut-static .gauge-static {
  /*width: 144px;
            height: 144px;
            position: static;
            top: 0;
            left: 0;*/
}
.stats-container .donut-label-container {
  width: 100%;
  position: absolute;
  top: 270px;
  left: 0;
}
.stats-container .donut-label-container .error-label {
  text-align: center;
}

.stats-container {
  position: relative;
  width: 100%;
  min-height: 290px;
  /*.gauge {
        .success-label {
            margin-top: -107px;
        }
    }
    .donut {
        position: absolute!important;
        bottom: -255px;
        left: 0;
        .c3-chart-arcs-title {
            font-family: 'raleway', sans-serif;
            font-size: 14px;
        }
    }
    .donut-label-container {
        position: absolute;
        bottom: -265px;
        left: 0;
        width: 100%;
        .error-label {
            text-align: center;
        }
    }*/
}
.stats-container h3 {
  position: absolute;
  top: 0;
  left: 0;
}
.stats-container .donut {
  position: absolute;
  top: 0;
  left: 0;
}
.stats-container .donut .gauge {
  width: 144px;
  /* this width is based on the default gauge width of 160 */
  height: 144px;
  position: absolute;
  top: 19%;
  left: 50%;
  margin-left: -72px;
}
.stats-container .donut-static {
  position: static;
  top: 0;
  left: 0;
  margin-top: -49px;
}
.stats-container .donut-static .gauge-static {
  /*width: 144px;
            height: 144px;
            position: static;
            top: 0;
            left: 0;*/
}
.stats-container .donut-label-container {
  width: 100%;
  position: absolute;
  top: 270px;
  left: 0;
}
.stats-container .donut-label-container .error-label {
  text-align: center;
}

.log {
  height: 400px;
  margin: 0 0 45px 0;
}
.bash {
  padding: 10px;
  overflow: auto;
  height: 100%;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.log {
  height: 400px;
  margin: 0 0 45px 0;
}
.bash {
  padding: 10px;
  overflow: auto;
  height: 100%;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  text-align: center;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  text-align: center;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
