<div ng-show="loadingQueue" class="loading-component">
    <h4>
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
        Loading
    </h4>
</div>
<div ng-class="{ 'visible': !loadingQueue, 'invisible': loadingQueue }">
    <div ng-show="queueDepthError" class="alert alert-danger">
        <strong>{{ queueDepthError }}</strong> {{ queueDepthErrorStatus }}
    </div>
    <div class="queue-depth-container" ng-show="!queueDepthError">
        <h2 ng-show="!scale">
            Queue Depth <span ng-show="total">({{ total }})</span> |
            <button class="btn btn-sm" ng-class="zoomClass" ng-click="toggleZoom()">{{zoomText}}</button>
            <button class="btn btn-sm chart-btn" ng-class="jobTypeClass" ng-click="updateChart('jobType')">Job Type</button>
            <button class="btn btn-sm chart-btn" ng-class="priorityClass" ng-click="updateChart('priority')">Job Priority</button>
        </h2>
        <div class="widget-label-left">Total number of jobs present on the queue over the past week</div>
        <div id="queue-depth"></div>
    </div>
    <div class="queue-legend-label">{{ legendLabel }}</div>
    <div ng-show="showFilter">
        <div class="queue-depth-filter text-center form-inline">
            <div class="btn-group">
                <button class="btn btn-sm btn-default queue-older" ng-click="updateQueueRange('older')"><i class="fa fa-step-backward"></i> Older</button>
                <button class="btn btn-sm btn-default queue-newer" ng-click="updateQueueRange('newer')" disabled>Newer <i class="fa fa-step-forward"></i></button>
            </div>
            <button class="btn btn-sm btn-default queue-today" ng-click="updateQueueRange('today')" disabled><i class="fa fa-home"></i> Today</button>
            <!--<select ng-model="duration" class="form-control">
                <option ng-repeat="d in durations" ng-value="d">{{d}}</option>
            </select>-->
        </div>
    </div>
</div>