<!-- SVG Template for Scale Overview Chart -->
<svg ng-attr-width="{{ chart.width }}" ng-attr-height="{{ chart.height }}">
    <g class="aisScaleOverview">

        <g class="layer-axis-horizontal">
            <line ng-repeat="component in components"
                class="background"
                x1="0"
                ng-attr-y1="{{ component.startHeight }}"
                ng-attr-x2="{{ chart.width }}"
                ng-attr-y2="{{ component.startHeight }}" />
        </g>

        <g class="layer-axis-vertical">

            <g ng-repeat="timeline in timelines">
                <line class="background timeline"
                    ng-attr-x1="{{ timeline.linePos }}"
                    y1="0"
                    ng-attr-x2="{{ timeline.linePos }}"
                    ng-attr-y2="{{ chart.height }}" />
                <text class="background"
                    ng-attr-x="{{ timeline.txtPos }}"
                    y="15">
                    {{ timeline.time }}
                </text>
            </g>

        </g>

        <g class="layer-data">
            <g class="lyr-feed" />
            <g class="lyr-nodes" />
            <g class="lyr-jobs" />
            <g class="lyr-queues" />
        </g>

        <g class="layer-now">
            <line class="marker-now"
                ng-attr-x1="{{ now.x }}"
                y1="0"
                ng-attr-x2="{{ now.x }}"
                ng-attr-y2="{{ chart.height }}" />

        </g>

    </g><!-- aisScaleOverview -->
</svg>

<div class="tooltip right" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    {{ now.label }}
  </div>
</div>
