
<ais-header name="'About Scale ' + vm.version"></ais-header>

<p>
    Scale is a system that provides management of automated processing on a cluster of machines. It allows
    users to define jobs, which can be any type of script or algorithm. These jobs run on ingested source
    data and produce product files. The produced products can be disseminated to appropriate users and/or
    used to evaluate the producing algorithm in terms of performance and accuracy.
</p>
<p>
    Scale was developed at the National Geospatial-Intelligence Agency (NGA) in collaboration with <a href="http://www.ballaerospace.com/">Ball Aerospace</a> and <a href="http://www.appliedis.com/">Applied Information Sciences (AIS)</a>.
</p>
