.grid-container {
    background: #fff;
    margin-bottom: 20px;

    .scale-grid {
        width: auto;
        box-sizing: border-box;

        .ui-grid-header-cell, .ui-grid-row {
            .ui-grid-cell-contents {
                .label-container {
                    display: flex;
                    justify-content: flex-start;

                    .label {
                        min-width: 35px;
                        padding: 5px 0;
                        margin: 0 5px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .label-default {
                        background: #dcdcdc;
                        color: #333;
                    }

                    .label-system {
                        &:hover {
                            background: rgba(103, 0, 13, 1)!important;
                            color: #fff!important;
                        }
                    }
                    .label-algorithm {
                        &:hover {
                            background: rgba(203, 24, 29, 1)!important;
                            color: #fff!important;
                        }
                    }
                    .label-data {
                        &:hover {
                            background: rgba(241, 105, 19, 1)!important;
                            color: #fff!important;
                        }
                    }
                }
            }
        }

        .ui-grid-header {
            width: 100%;
        }

        .ui-grid-row {
            &:hover {
                .ui-grid-cell-contents {
                    cursor: pointer;
                    background: @accent_blue;
                    color: @light;
                }

            }
            .ui-grid-cell-contents {
                &.status{
                    text-align: center;
                    font-size: 1.0em;
                }
            }

        }

        .btn-xs {
            i {
                font-size: 11px;
            }
        }
    }
}


.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: inherit;
}

.ui-grid, .ui-grid-viewport {
    height: auto!important;
}

.ui-grid-contents-wrapper {
    overflow: hidden;
}

.pagination-controls {
    text-align: center;
    margin-bottom: 20px;

    .pagination {
        margin: 10px 0 0 0;
    }
}
