.grid-container {
    background: #fff;

    .scale-grid {
        width: auto;
        height: 100%;
        box-sizing: border-box;

        .ui-grid-header {
            width: 100%;
        }

        .ui-grid-row {
            &:hover {
                .ui-grid-cell-contents {
                    cursor: pointer;
                    background: @accent_blue;
                    color: @light;
                }

            }
            .ui-grid-cell-contents {
                &.status{
                    text-align: center;
                    font-size: 1.0em;
                }
            }

        }
    }
}


.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: inherit;
}

.ui-grid-viewport {
    width: 100% !important;
    height: 100% !important;
}

.pagination-controls {
    .pagination {
        margin: 0;
    }
}