<div ng-show="loadingJobLoad" class="loading-component">
    <h4>
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
        Loading
    </h4>
</div>
<div ng-class="{ 'visible': !loadingJobLoad, 'invisible': loadingJobLoad }">
    <div ng-show="jobLoadError" class="alert alert-danger">
        <strong>{{ jobLoadError }}</strong> {{ jobLoadErrorStatus }}
    </div>
    <div class="job-load-container" ng-show="!jobLoadError">
        <div class="job-load-header">
            <h2>
                <span ng-hide="hideTitle">Job Load |</span>
                <button class="btn btn-sm" ng-class="zoomClass" ng-click="toggleZoom()">{{zoomText}}</button>
            </h2>
            <div class="widget-label-left">Recent hourly job statistics.</div>
        </div>
        <div id="job-load" style="{{ chartStyle }}"></div>
    </div>
    <div class="job-load-legend-label">{{ legendLabel }}</div>
    <div ng-show="showFilter" class="job-load-filter">
        <div class="text-center form-inline">
            <div class="btn-group">
                <button class="btn btn-sm btn-default job-load-older" ng-click="updateJobLoadRange('older')"><i class="fa fa-step-backward"></i> Older</button>
                <button class="btn btn-sm btn-default job-load-newer" ng-click="updateJobLoadRange('newer')" disabled>Newer <i class="fa fa-step-forward"></i></button>
            </div>
            <button class="btn btn-sm btn-default job-load-today" ng-click="updateJobLoadRange('today')" disabled><i class="fa fa-home"></i> Today</button>
            <!--<select ng-model="duration" class="form-control">
                <option ng-repeat="d in durations" ng-value="d">{{d}}</option>
            </select>-->
        </div>
    </div>
</div>
