<ais-header name="'Running (' + totalRunning + ' jobs; ' + gridOptions.totalItems + ' job types)'" loading="loading" show-subnav="true" subnav-links="subnavLinks"></ais-header>

<div class="container-fluid">
    <div class="grid-container">
        <div ng-show="runningJobsError" class="alert alert-danger text-center"><strong>{{ runningJobsError }}</strong> {{ runningJobsErrorStatus }}</div>
        <div ng-show="!runningJobsError">
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns class="scale-grid" style="{{ gridStyle }}"></div>
        </div>
    </div>
</div>
