---
# load-initial-data/tasks/main.yml
- name: load initial db data
  tags: load-initial-data
  docker:
    docker_api_version: '{{ docker_api_version }}'
    image: '{{ docker_registry }}scale:{{ scale_docker_version }}'
    state: started
    tty: true
    command: 'load_all_data'
    volumes:
      - '/etc/scale/local_settings.py:/opt/scale/scale/local_settings.py'
  become: true
