<ais-header name="'Failure Rates'" show-subnav="true" subnav-links="vm.subnavLinks" loading="vm.loading"></ais-header>
<div class="grid-container job-type-error-rates-grid">
    <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-resize-columns class="scale-grid"></div>
</div>

<script type="text/ng-template" id="gridRow.html">
    <div class="ui-grid-cell-contents">
        <div class="row">
            <div class="col-xs-4 col-md-6">
                <span ng-show="COL_FIELD.total > 0" class="fail-rate-container">
                    <span class="fail-rate" style="{{ grid.appScope.vm.failRateStyle(COL_FIELD.errorTotal, COL_FIELD.total) }}"></span>
                </span>
                <span ng-show="COL_FIELD.total > 0" class="percentage">{{ ((COL_FIELD.errorTotal / COL_FIELD.total) * 100).toFixed(0) }}%</span>
                <span ng-show="COL_FIELD.total === 0" class="fail-rate-container">
                    <span class="fail-rate" style="display: none"></span>
                </span>
                <span ng-show="COL_FIELD.total === 0" class="percentage">0%</span>
            </div>
            <div class="col-xs-8 col-md-6 text-right label-container">
                <div class="label label-system" ng-show="COL_FIELD.system > 0" style="{{ grid.appScope.vm.setStyle(COL_FIELD, 'system') }}" uib-tooltip="{{ COL_FIELD.system }} System Errors ({{ grid.appScope.vm.getPercentageOfTotal(COL_FIELD.system, COL_FIELD.total) }})" tooltip-append-to-body="true">{{ COL_FIELD.system }}</div>
                <div class="label" ng-show="COL_FIELD.system === 0">&nbsp;</div>
                <div class="label label-algorithm" ng-show="COL_FIELD.algorithm > 0" style="{{ grid.appScope.vm.setStyle(COL_FIELD, 'algorithm') }}" uib-tooltip="{{ COL_FIELD.algorithm }} Algorithm Errors ({{ grid.appScope.vm.getPercentageOfTotal(COL_FIELD.algorithm, COL_FIELD.total) }})" tooltip-append-to-body="true">{{ COL_FIELD.algorithm }}</div>
                <div class="label" ng-show="COL_FIELD.algorithm === 0">&nbsp;</div>
                <div class="label label-data" ng-show="COL_FIELD.data > 0" style="{{ grid.appScope.vm.setStyle(COL_FIELD, 'data') }}" uib-tooltip="{{ COL_FIELD.data }} Data Errors ({{ grid.appScope.vm.getPercentageOfTotal(COL_FIELD.data, COL_FIELD.total) }})" tooltip-append-to-body="true">{{ COL_FIELD.data }}</div>
                <div class="label" ng-show="COL_FIELD.data === 0">&nbsp;</div>
                <div class="label label-running" uib-tooltip="{{ COL_FIELD.total }} Total Jobs" tooltip-append-to-body="true">{{ COL_FIELD.total }}</div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="gridHeader.html">
    <div class="ui-grid-cell-contents">
        {{ col.displayName }}
        <div class="row margin-top-md">
            <div class="col-xs-4 col-md-6"><a class="header-label" ng-click="grid.appScope.vm.sortBy('errorTotal', col.field)">Failure %</a> <i class="fa" ng-class="grid.appScope.vm.sortOrders[col.field].errorTotal.icon"></i></div>
            <div class="col-xs-8 col-md-6 text-right label-container">
                <span class="label label-system" uib-tooltip="System Errors" tooltip-append-to-body="true" ng-click="grid.appScope.vm.sortBy('system', col.field)">Sys <i class="fa" ng-class="grid.appScope.vm.sortOrders[col.field].system.icon"></i></span>
                <span class="label label-algorithm" uib-tooltip="Algorithm Errors" tooltip-append-to-body="true" ng-click="grid.appScope.vm.sortBy('algorithm', col.field)">Alg  <i class="fa" ng-class="grid.appScope.vm.sortOrders[col.field].algorithm.icon"></i></span>
                <span class="label label-data" uib-tooltip="Data Errors" tooltip-append-to-body="true" ng-click="grid.appScope.vm.sortBy('data', col.field)">Data  <i class="fa" ng-class="grid.appScope.vm.sortOrders[col.field].data.icon"></i></span>
                <span class="label label-running" uib-tooltip="Total Jobs" tooltip-append-to-body="true" ng-click="grid.appScope.vm.sortBy('total', col.field)">Total  <i class="fa" ng-class="grid.appScope.vm.sortOrders[col.field].total.icon"></i></span>
            </div>
        </div>
    </div>
</script>
