<ais-header name="'Job Type Performance'" show-subnav="true" subnav-links="vm.subnavLinks" loading="vm.loading"></ais-header>

<table class="table">
    <tbody>
    <tr ng-repeat="data in vm.performanceData">
        <td>{{ data.title }}</td>
        <td>
            <table class="table">
                <tr>
                    <td ng-repeat="value in data.values">{{ value.date }}</td>
                </tr>
                <tr>
                    <td ng-repeat="value in data.values">{{ value.failed }} / {{ value.total }}</td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!--<div class="row" ng-repeat="data in vm.performanceData">-->
    <!--<div class="col-xs-3">{{ data.title }}</div>-->
    <!--<div class="col-xs-9">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4" ng-repeat="failedValue in data.failed">-->
                <!--{{ failedValue.date }}: {{ failedValue.value }}-->
            <!--</div>-->
            <!--<div class="col-xs-4" ng-repeat="totalValue in data.total">-->
                <!--{{ totalValue.date }}: {{ totalValue.value }}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->