/exports                {{ nfs_server }}/24(fsid=0,sync,rw)
/exports/ingest         {{ nfs_server }}/24(sync,rw)
/exports/ingest/landsat {{ nfs_server }}/24(sync,rw)
/exports/ingest/binary  {{ nfs_server }}/24(sync,rw)
/exports/raw            {{ nfs_server }}/24(sync,rw)
/exports/products       {{ nfs_server }}/24(sync,rw)
