<ais-header name="'Node Details'" show-subnav="false" loading="vm.loading"></ais-header>
<h3>
    {{ vm.node.hostname }}
    <small>{{ vm.nodeStatus.agent_id }}</small>
</h3>
<p>
    <b>{{ vm.nodeStatus.state.title }}</b><br />
    {{ vm.nodeStatus.state.description }}
</p>
<div class="row node-details-container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                    <tr><td>Paused:</td><td>{{ vm.node.is_paused }}</td></tr>
                    <tr><td>Paused Reason:</td><td>{{ vm.node.pause_reason }}</td></tr>
                    <tr><td>Active:</td><td>{{ vm.node.is_active }}</td></tr>
                    <tr><td>Archived:</td><td>{{ vm.node.archived }}</td></tr>
                    <tr><td>Created:</td><td>{{ vm.node.created }}</td></tr>
                    <tr><td>Last Modified:</td><td>{{ vm.node.last_modified }}</td></tr>
                    <tr>
                        <td>Running Jobs:</td>
                        <td>
                            <div class="label label-success" ng-repeat="job in vm.runningJobs" tooltip-append-to-body="true" uib-tooltip="{{ job.jobType.title }}">
                                <i class="fa fa-fw" ng-bind-html="'&#x' + job.jobType.icon_code"></i> {{ job.count }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Completed Jobs:</td>
                        <td>
                            <div class="label label-primary" ng-repeat="job in vm.completedJobs" tooltip-append-to-body="true" uib-tooltip="{{ job.jobType.title }}">
                                <i class="fa fa-fw" ng-bind-html="'&#x' + job.jobType.icon_code"></i> {{ job.count }}
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.nodeStatus.warnings.length > 0">
                        <td>Warnings</td>
                        <td>
                            <span class="label label-warning" tooltip-append-to-body="true" uib-tooltip="{{ warning.description }}" ng-repeat="warning in vm.nodeStatus.warnings">{{ warning.title }}</span>
                        </td>
                    </tr>
                    <tr ng-if="vm.nodeStatus.errors.length > 0">
                        <td>Errors</td>
                        <td>
                            <span class="label label-danger" tooltip-append-to-body="true" uib-tooltip="{{ error.description }}" ng-repeat="error in vm.nodeStatus.errors">{{ error.title }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="col-xs-12 col-sm-4">-->
                <!--<ul class="list-unstyled">-->
                    <!--<li ng-repeat="job in vm.runningJobs"><span class="label label-default"><i class="fa fa-fw" ng-bind-html="'&#x' + job.jobType.icon_code"></i> {{ job.count }}</span></li>-->
                <!--</ul>-->
                <!--{{ vm.nodeStatus.job_executions }}-->
            <!--</div>-->
        </div>
    </div>
</div>
