<div ng-show="isIE"><h4>The recipe viewer is not compatible with Internet Explorer.</h4></div>
<div ng-class="containerClass" ng-show="!isIE">
    <div class="recipe-viewer">
        <div class="row recipe-viewer-title">
            <div class="col-xs-9">
                <div class="margin-bottom-md" ng-if="mode !== 'edit' && mode !== 'add'">
                    <h3>{{ recipeType.title + ' ' + recipeType.version }}</h3>
                    <div ng-show="!recipe.id">
                        <strong>Description:</strong> {{ recipeType.description }}
                    </div>
                    <div class="row" ng-show="recipe.id">
                        <div class="col-xs-6"><strong>Description:</strong> {{ recipeType.description }}</div>
                        <div class="col-xs-6 text-right"><h3><span class="label completed" ng-show="recipe.completed">COMPLETED {{ lastStatusChange }}</span></h3></div>
                    </div>
                </div>
                <div ng-if="mode === 'edit' || mode === 'add'">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="recipeName" class="sr-only">Name:</label>
                                <input id="recipeName" class="form-control" type="text" ng-model="recipeType.name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="recipeTitle" class="sr-only">Title:</label>
                                <input id="recipeTitle" class="form-control" type="text" ng-model="recipeType.title" placeholder="Title" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="recipeVersion" class="sr-only">Version:</label>
                                <input id="recipeVersion" class="form-control" type="text" ng-model="recipeType.version" placeholder="Version" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="recipeDescription" class="sr-only">Description:</label>
                                <input id="recipeDescription" class="recipe-description form-control" type="text" ng-model="recipeType.description" placeholder="Description" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 text-right">
                <div ng-show="allowEdit && !readonly">
                    <button class="btn btn-sm" ng-class="saveBtnClass" ng-click="openAddJob()" ng-show="mode === 'edit' || mode === 'add'">Add Job</button>
                    <button class="btn btn-sm" ng-class="saveBtnClass" ng-click="validateRecipeType()" ng-show="mode === 'edit' || mode === 'add'"><i class="fa fa-check"></i> Validate</button>
                    <button class="btn btn-sm" ng-class="saveBtnClass" ng-click="saveRecipeType()" ng-enabled="isRecipeModified" ng-show="mode === 'edit' || mode === 'add'"><i class="fa fa-save"></i> Save Recipe</button>
                    <button class="btn btn-sm" ng-class="editBtnClass" ng-click="toggleEditMode()" ng-show="mode !== 'add'"><i class="fa" ng-class="editBtnIcon"></i> {{ editBtnText }}</button>
                </div>
            </div>
        </div>
        <div id="details">
            <div ng-show="savingRecipe" class="loading-component">
                <h4>
                    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br />
                    Saving Recipe
                </h4>
            </div>

            <div ng-show="!savingRecipe" id="recipeviewer" class="recipe-viewer">
                <div class="live map">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="col-graph panel panel-default">
                                <svg style="{{ detailContainerStyle }}"><g/></svg>
                            </div>
                            <div id="output-selector" ng-show="selectedInputProvider">
                                <div id="output-selector-container" class="io-selector" style="width: 200px; height: 200px; margin: 0 0 0 0; background: #ddd; z-index: 20">
                                    <div>Select provider/output</div>
                                    <ul ng-show="selectedInputProvider.job_type.job_type_interface.output_data.length > 0" class="list-group">
                                        <li ng-repeat="joboutput in selectedInputProvider.job_type.job_type_interface.output_data" class="list-group-item">
                                            <a ng-click="mapInput(selectedInputProvider.name, joboutput.name)">{{ joboutput.name }}</a>
                                            <div class="input-media-types" ng-show="joboutput.media_type">{{ joboutput.media_type }}</div>
                                        </li>
                                    </ul>
                                    <ul ng-show="selectedInputProvider.name === 'start'" class="list-group">
                                        <li ng-repeat="recipeInput in recipeType.definition.input_data" class="list-group-item">
                                            <a ng-click="mapInputRecipeInput(recipeInput.name)">{{ recipeInput.name }}</a>
                                            <div class="input-media-types" ng-show="recipeInput.media_types">{{ recipeInput.media_types.join(',') }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="input-selector" ng-show="selectedOutputReceiver">
                                <div id="input-selector-container" class="io-selector" style="width: 200px; height: 200px; margin: 0 0 0 0; background: #ddd; z-index: 20">
                                    <div>Select receiver/input</div>
                                    <ul ng-show="selectedOutputReceiver.job_type.job_type_interface.input_data.length > 0" class="list-group">
                                        <li ng-repeat="jobinput in selectedOutputReceiver.job_type.job_type_interface.input_data" class="list-group-item">
                                            <a ng-click="mapOutput(selectedOutputReceiver.name, jobinput.name)">{{ jobinput.name }}</a>
                                            <div class="input-media-types" ng-show="jobinput.media_types">{{ jobinput.media_types.join(',') }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="text-center" ng-show="!selectedJob">
                                <h3>Click a job node to view dependencies, inputs, and outputs</h3>
                            </div>
                            <div class="col-details panel panel-primary" ng-show="selectedJob">
                                <div class="panel-heading">
                                    <h4>{{selectedJob.job_type.title}} {{selectedJob.job_type.version}} <button ng-show="(mode === 'edit' || mode === 'add') && selectedJob.name.toLowerCase() !== 'start'" class="btn btn-default btn-xs pull-right" ng-click="deleteRecipeJob(selectedJob.name)"><i class="fa fa-remove"></i></button></h4>
                                </div>
                                <div class="margin-top-md margin-bottom-md">{{ selectedJob.job_type.description }}</div>
                                <div id="jobdetail" class="job-details" ng-if="selectedJob.job_type.id">
                                    <div class="job-active" ng-show="selectedRecipeJob">
                                        <a href="{{ '#/jobs/job/' + selectedRecipeJob.job.id }}">{{ selectedRecipeJob.job.status }}</a>
                                    </div>
                                    <div class="job-active">
                                        <h4 ng-show="selectedJob.dependencies.length > 0 || mode === 'edit' || mode === 'add'">Dependencies <button class="btn btn-default btn-xs" ng-show="mode === 'edit' || mode === 'add'" ng-click="toggleAddDependency()"><i id="btn-add-dependency" class="fa" ng-class="dependencyBtnClass"></i></button></h4>
                                         <div class="margin-bottom-md" ng-show="editMode === 'addDependency'">Click a highlighted job node to select a dependency.</div>
                                         <ul ng-show="selectedJob.dependencies.length > 0" class="list-group">
                                             <li ng-repeat="dependency in selectedJob.dependencies" class="list-group-item">{{ dependency.name }} <button class="btn btn-default btn-xs pull-right" ng-show="mode === 'edit' || mode === 'add'" ng-click="removeDependency(dependency.name)"><i class="fa fa-remove"></i></button></li>
                                        </ul>
                                    </div>
                                    <div ng-show="selectedJob.job_type.job_type_interface.input_data.length > 0"><h4>Inputs</h4>
                                         <ul class="list-group">
                                             <li ng-repeat="jobinput in selectedJob.job_type.job_type_interface.input_data" class="list-group-item">
                                                 {{ jobinput.name }}<span ng-show="jobinput.required">*</span> <button class="btn btn-default btn-xs pull-right" ng-show="mode === 'edit' || mode === 'add'" ng-click="toggleAddInput(jobinput)"><i class="fa fa-link"></i></button>
                                                 <div class="input-media-types" ng-show="jobinput.media_types">{{ jobinput.media_types.join(',') }}</div>
                                                 <div ng-show="jobinput.dependencies.length > 0">
                                                     <h5>Connections</h5>
                                                     <ul class="list-group dependents">
                                                         <li ng-repeat="dep in jobinput.dependencies" class="list-group-item">
                                                             <span class="job-name">{{dep.name}}</span>.<span class="property">{{dep.output}}</span><button class="btn btn-default btn-xs pull-right" ng-show="mode === 'edit' || mode === 'add'" ng-click="removeInputMapping(dep.name, dep.output)"><i class="fa fa-remove"></i></button>
                                                         </li>
                                                     </ul>
                                                 </div>
                                            </li>
                                         </ul>
                                     </div>
                                     <div ng-show="selectedJob.job_type.job_type_interface.output_data.length > 0"><h4>Outputs</h4>
                                         <ul class="list-group">
                                             <li ng-repeat="joboutput in selectedJob.job_type.job_type_interface.output_data" class="list-group-item">
                                                 {{ joboutput.name }} <button class="btn btn-default btn-xs pull-right" ng-show="mode === 'edit' || mode === 'add'" ng-click="toggleAddOutput(joboutput)"><i class="fa fa-link"></i></button>
                                                 <div class="input-media-types" ng-show="joboutput.media_type">{{ joboutput.media_type }}</div>
                                                 <div ng-show="joboutput.dependents.length > 0">
                                                     <h5>Connections</h5>
                                                     <ul class="list-group dependents">
                                                         <li ng-repeat="dep in joboutput.dependents" class="list-group-item">
                                                             <span class="job-name">{{dep.name}}</span>.<span class="property">{{dep.input}}</span> <button class="btn btn-default btn-xs pull-right" ng-show="mode === 'edit' || mode === 'add'" ng-click="removeOutputMapping(dep.name, dep.output)"><i class="fa fa-remove"></i></button>
                                                         </li>
                                                     </ul>
                                                 </div>
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                                <div id="startDetail" class="job-details panel-body" ng-if="selectedJob && !selectedJob.job_type.id">
                                    <div>
                                        <h4>Trigger <button ng-show="mode === 'edit' || mode === 'add'" class="btn btn-default btn-xs" ng-click="openEditTrigger()"><i class="fa fa-edit"></i></button></h4>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="input-name">{{recipeType.trigger_rule.name}} <span ng-show="!recipeType.trigger_rule.is_active" class="input-media-types pull-right">Inactive</span></div>
                                                <div class="input-name">{{recipeType.trigger_rule.type}}</div>
                                                <div class="input-media-types" ng-show="recipeType.trigger_rule.configuration.condition.media_type">media_type: {{ recipeType.trigger_rule.configuration.condition.media_type }}</div>
                                                <div class="input-media-types" ng-show="recipeType.trigger_rule.configuration.condition.data_types">data_types: {{ recipeType.trigger_rule.configuration.condition.data_types.join(", ") }}</div>
                                            </li>
                                        </ul>
                                    </div><div>
                                        <h4>Recipe Inputs <button ng-show="mode === 'edit' || mode === 'add'" class="btn btn-default btn-xs" ng-click="openAddInput()"><i class="fa fa-plus"></i></button></h4>
                                        <ul class="list-group">
                                            <li ng-repeat="input in recipeType.definition.input_data" class="list-group-item">
                                                <div class="input-name">{{input.name}}<span ng-show="input.required">*</span> <button ng-show="mode === 'edit' || mode === 'add'" class="btn btn-default btn-xs pull-right" ng-click="deleteRecipeInput(input.name)"><i class="fa fa-remove"></i></button></div>
                                                <div class="input-media-types">{{ input.media_types.join(", ") }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="editTrigger.html">
    <div>
        <div class="modal-header">
            <h3>Edit Trigger</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <!--<div class="col-xs-1">ID: {{ recipeType.trigger_rule.id }}</div>-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="triggerType">Type</label>
                        <select id="triggerType" class="form-control input-sm" ng-model="recipeType.trigger_rule.type" ng-options="t as t for t in availableTriggerTypes">
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label for="triggerName">Name</label>
                    <input id="triggerName" type="text" class="form-control" ng-model="recipeType.trigger_rule.name">
                </div>
                <div class="col-xs-4">
                    <label for="triggerActive">Active</label>
                    <input id="triggerActive" type="checkbox" class="form-control" ng-model="recipeType.trigger_rule.is_active">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5 colspan="2">Condition</h5>
                    <div class="form-group">
                        <label for="triggerConditionMediaType">Media Type</label>
                        <input id="triggerConditionMediaType" type="text" class="form-control" ng-model="recipeType.trigger_rule.configuration.condition.media_type">
                    </div>
                    <div class="form-group">
                        <label for="triggerConditionDataTypes">Data Types</label>
                        <input id="triggerConditionDataTypes" type="text" class="form-control" ng-model="recipeTypeTrigger.dataTypes">

                    </div>
                </div>
                <div class="col-xs-6">
                    <h5 colspan="2">Data</h5>
                    <div class="form-group">
                        <label for="triggerWorkspaceName">Workspace</label>
                        <select id="triggerWorkspaceName" class="form-control input-sm" ng-model="recipeType.trigger_rule.configuration.data.workspace_name">
                            <option ng-repeat="workspace in availableWorkspaces" value="{{workspace.name}}" ng-selected="recipeType.trigger_rule.configuration.data.workspace_name === workspace.name">{{workspace.title}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="triggerInputDataName">Recipe Input Name</label>
                        <select id="triggerInputDataName" class="form-control input-sm" ng-model="recipeType.trigger_rule.configuration.data.input_data_name">
                            <option ng-repeat="recipeInput in recipeType.definition.input_data" value="{{recipeInput.name}}" ng-selected="recipeType.trigger_rule.configuration.data.input_data_name === recipeInput.name">{{recipeInput.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">OK</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addJobContent.html">
    <div>
        <div class="modal-header">
            <h3>Select a Job Type</h3>
        </div>
        <div class="modal-body">
            <div class="master-container">
                <div class="add-job-list">
                    <ul class="list-unstyled">
                        <li ng-repeat="jobType in jobTypeValues" ng-class="{ active: selectedJobType.name === jobType.name }" ng-click="selectJobTypeToAdd(jobType)"><span ng-bind-html="jobType.getIcon()"></span> {{ jobType.title + ' ' + jobType.version }}</li>
                    </ul>
                </div>
                Selected: <b>{{ selectedJobType.name }}</b>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$close()">OK</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="confirmDialog.html">
    <div>
        <div class="modal-header">
            <h3>Warning</h3>
        </div>
        <div class="modal-body">
            Changes to <strong>{{ activeRecipeType.name }}</strong> will be discarded if you continue.
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$close()">Continue</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addInput.html">
    <div>
        <div class="modal-header">
            <h3>Add input</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input id="inputName" type="text" class="form-control" ng-model="recipeInput.name">
            </div>
            <div class="form-group">
                <label for="inputType">Type</label>
                <select id="inputType" class="form-control" ng-model="recipeInput.type" ng-change="changeInputType()" ng-options="type.name as type.title for type in recipeInputTypes"></select>
            </div>
            <div ng-show="selectedRecipeInputType.fields.length > 0">
                <div class="form-group" ng-repeat="field in selectedRecipeInputType.fields">
                    <label>{{ field.title }}</label>
                    <input type="text" class="form-control" ng-model="field.value">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" checked>
                        Required
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$close()">OK</button>
        </div>
    </div>
</script>
