<ais-header name="'Recipe Types'" loading="loading" show-subnav="true" subnav-links="subnavLinks"></ais-header>

<div class="row">
    <div class="master-container" ng-class="masterClass" style="{{ containerStyle }}">
        <div class="master-content">
            <div class="master-controls">
                <div ng-if="user.is_admin" class="pull-right">
                    <button ng-if="scaleConfig.static && localRecipeTypes.length > 0 && !minimizeMaster" class="btn btn-sm btn-default" ng-click="clearLocalRecipeTypes()" title="Clear local recipe types"><i class="fa fa-remove"></i></button>
                    <button class="btn btn-sm" ng-show="!minimizeMaster" ng-class="addBtnClass" ng-click="newRecipeType()"><i class="fa" ng-class="addBtnIcon"></i> {{ addBtnText }}</button>
                </div>
                <button class="btn btn-default btn-sm" ng-click="toggleMaster()"><i ng-class="minimizeBtnClass"></i></button>
            </div>
            <ul class="list-unstyled" ng-show="!minimizeMaster">
                <li ng-repeat="recipeType in recipeTypes" ng-class="{ active: activeRecipeType.id === recipeType.id }" ng-click="loadRecipeType(recipeType.id)">{{ recipeType.title + ' ' + recipeType.version }}</li>
            </ul>
        </div>
    </div>
    <div class="detail-container" ng-class="detailClass" style="{{ containerStyle }}">
        <div class="text-center" ng-if="!activeRecipeType">
            <h2>Select a recipe type to view its details.</h2>
        </div>
        <div class="detail-content no-tabs" ng-if="activeRecipeType">
            <ais-scale-recipe-graph-viewer recipe-type="activeRecipeType" allow-edit="true" has-container="true"></ais-scale-recipe-graph-viewer>
        </div>
    </div>
</div>