<ais-header name="'Recipe: ' + vm.recipe.id" show-subnav="true" subnav-links="vm.subnavLinks" loading="vm.loadingRecipeDetail"></ais-header>
<div class="recipe-details">
    <div class="panel panel-info" ng-show="vm.recipe.is_superseded">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>SUPERSEDED {{ vm.supersededChange }}</strong>
            </div>
        </div>
    </div>
    <ais-scale-recipe-graph-viewer recipe="vm.recipe" recipe-type="vm.recipeType" allow-edit="false"></ais-scale-recipe-graph-viewer>
</div>
