# This is an example configuration for httpd to proxy to scale

Alias /docs /opt/scale/docs
Alias /logs /opt/scale/logs
Alias /static /opt/scale/static
Alias / /opt/scale/static/ui/scale-ui

<Location /api>
    ProxyPreserveHost On
    ProxyPass http://localhost:8000
    ProxyPassReverse http://localhost:8000
</Location>

<Directory "/opt/scale/logs">
    Options +Indexes
</Directory>