[Unit]
Description=Scale Web API
Requires=scale-web.socket
After=network.target

[Service]
PIDFile=$SCALE_RUN_DIR/web/gunicorn.pid
User=$SCALE_USER
Group=$SCALE_GROUP
WorkingDirectory=$SCALE_HOME
ExecStart=$SCALE_PYTHON $SCALE_HOME/env/bin/gunicorn scale.wsgi:application
ExecReload=/bin/kill -s HUP $ls
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
